.top {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.rowDetails {
  background-color: aqua;
}

.rowDetails :hover {
  background-color: rgb(216, 231, 233);
}
.App {
  width: 100%;
}

@media (max-width: 990px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.mobile {
  display: none;
}
