.top {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(165, 250, 231);
}
.year {
  background-color: white;
}
.rowDetails {
  background-color: aqua
  border-radius: 10px;
  margin: 5px;
}

.rowDetails :hover {
  background-color: rgb(216, 231, 233);
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
